// the base material provided theme
@import '~@angular/material/theming';

// the theme from our app ( temporary import )
@import 'themes';
@include stratacache-dark();

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
// this should go in the app theme
@include mat-core();


// redefine some material elements
// we need tests on these so we dont have breaking changes
// defined in @angular/material
$mat-dark-theme-background: (
  
  // 
  status-bar: black,

  // this comes from out light themes
  app-bar:    map_get($backgrounds, background-topnav),
  background: map_get($backgrounds, background-main),
  hover:      hotpink, //rgba(white, 0.02), // TODO(kara): check style with Material Design UX
  card:       map_get($mat-grey, 800),
  dialog:     map_get($mat-grey, 800),
  disabled-button: rgba(white, 0.12),
  raised-button: map-get($mat-grey, 800),
  focused-button: $light-focused,
  selected-button: map_get($mat-grey, 900),
  selected-disabled-button: map_get($mat-grey, 800),
  disabled-button-toggle: black,
  unselected-chip: map_get($mat-grey, 700),
  disabled-list-option: black,
);

$mat-dark-theme-foreground: (
  base:              hotpink, //map_get($backgrounds, background-on),
  divider:           $light-dividers,
  dividers:          $light-dividers,
  disabled:          $light-disabled-text,
  disabled-button:   rgba(white, 0.3),
  disabled-text:     $light-disabled-text,
  elevation:         black,
  hint-text:         map_get($backgrounds, background-on),
  secondary-text:    map_get($backgrounds, background-on),
  icon:              map_get($backgrounds, background-on),
  icons:             map_get($backgrounds, background-on),
  text:              map_get($backgrounds, background-on),
  slider-min:        map_get($backgrounds, background-on),
  slider-off:        rgba(white, 0.3),
  slider-off-active: rgba(white, 0.3),
);

// wire up the css from a them
$avn-mat-theme-primary: (
  50: #ffebee,
  100: #ffcdd2,
  200: #ef9a9a,
  300: #e57373,
  400: #ef5350,
  500: #f44336,
  600: #e53935,
  700: #d32f2f,
  800: #c62828,
  900: #b71c1c,
  A100: #ff8a80,
  A200: #ff5252,
  A400: #ff1744,
  A700: #d50000,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: hotpink,
    600: hotpink,
    700: hotpink,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);



$custom-theme-primary: mat-palette($avn-mat-theme-primary);
$custom-theme-accent: mat-palette($avn-mat-theme-primary);
$custom-theme-warn: mat-palette($mat-red);

$custom-theme: mat-dark-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);
@include mat-datepicker-theme($custom-theme);
@include angular-material-theme($custom-theme);